@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    width: 9.5rem;
    cursor: pointer;
}

#button1 {
    background: #FF764E;
}

#button2 {
    background: #5ED3EB;
}

#button3 {
    background: #FFCD69;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

#header-img {
    width: 25%;
}

#header-img img {
    width: 100%;
    border-radius: 50%;
}

#header-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    font-size: 1.5rem;
    font-weight: 600;
}

#header-txt p {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

#body-txt {
    width: 90%;
    margin: 5rem auto 2rem;
    color: white;
    background: #DDB9A3;
    text-align: center;
    font-size: 1.4rem;
    padding: .1rem 1rem;
}

#fire, #reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

#fire p, #reservations p {
    width: 25%;
    font-weight: 600;
    text-align: center;
}

#fire-img {
    width: 10rem;
}

#fire-img img, #reservations img {
    width: 100%;
}

#reservations {
    margin-top: 2rem;
}

#footer-img {
    width: 100%;
    height: 20rem;
    background: url('./assets/footer_img.jpg');
}