nav {
    outline: 1px solid red;
    display: flex;
    justify-content: space-around;
}

button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
}

#button1 {
    background: #FF764E;
}

#button2 {
    background: #5ED3EB;
}

#button3 {
    background: #FFCD69;
}